@import "tailwindcss";

@theme {
  --breakpoint-sm: 45rem;
  --color-primary: #ea6816;
  --ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --font-lora: --font-lora;
  --font-playfair-display: --font-playfair-display;
  --radius-16: 4rem;
  --spacing-66: 16.5rem;
  --spacing-128: 32rem;
  --spacing-160: 40rem;
  --spacing-278: 69.5rem;
  --spacing-290: 72.5rem;
  --spacing-card-1/4: 16.625rem;
}

@layer base {
  * {
    @apply tracking-wide;
  }

  h1 {
    @apply font-bold font-playfair-display text-4xl;
  }

  h2 {
    @apply font-bold text-4xl;
  }

  p {
    @apply font-lora font-normal text-base;
  }

  .rtl {
    direction: rtl;
  }
}
