@import "tailwindcss";

@theme {
  --breakpoint-sm: 45rem;
  --color-primary: #ea6816;
  --ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --font-lora: var(--font-lora);
  --font-playfair-display: var(--font-playfair-display);
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  --radius-16: 4rem;
  --spacing-66: 16.5rem;
  --spacing-128: 32rem;
  --spacing-160: 40rem;
  --spacing-278: 69.5rem;
  --spacing-290: 72.5rem;
  --spacing-card-1/4: 16.625rem;
}

@layer base {
  * {
    @apply box-border min-h-0 min-w-0 tracking-wide;
  }

  h1 {
    @apply font-bold font-poppins text-4xl;
  }

  h2 {
    @apply font-bold font-poppins text-3xl;
  }

  h3 {
    @apply font-bold font-poppins text-2xl;
  }

  p {
    @apply font-lora font-normal text-base;
  }

  .rtl {
    direction: rtl;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
